@charset "utf-8";
[data-skin="dark"] .anor_fn_header{
	border-bottom-color: #2b2c31;
}
[data-skin="dark"] .fn_search input[type="text"]{
	background-color: #25262b;
	color: #ccc;
	border-color: #25262b;
}
[data-skin="dark"] .anor_fn_button:after{
	border-color: #3b3b3b;
}
[data-skin="dark"] a.anor_fn_like{
	background-color: #0e0f13;
}
[data-skin="dark"] a.anor_fn_like .fn__svg{
	color: #3b3b3b;
}
[data-skin="dark"] .fn__single_item .title_holder p span{
	background-color: #1e3926;
}
[data-skin="dark"] .fn__single_item .title_holder p{
	color: #888;
}
[data-skin="dark"] .action_box .action_btn{
	background-color: #0e0f13;
}
[data-skin="dark"] .fn__single_item .countdown_holder{
	background-color: #0e0f13;
	color: #777;
}
[data-skin="dark"] .action_box .action_popup{
	background-color: #0e0f13;
	border-color: #0e0f13;
}
[data-skin="dark"] .action_box .action_popup a{
	color: #888;
}
[data-skin="dark"] .fn__single_item .title_holder p.initial span{
	background-color: #0e0f13;
	color: #777;
}
[data-skin="dark"] .scrollBar .full{
	background-color: #3b3b3b;
}
[data-skin="dark"] .scrollBar .move{
	background-color: #666;
}
[data-skin="dark"] .fn__collection_item{
	border-color: #3b3b3b;
}
[data-skin="dark"] .fn__category_item .title_holder{
	background-color: #0e0f13;
}
[data-skin="dark"] .fn__category_item p{
	color: #888;
}
[data-skin="dark"] .fn__artist_item{
	border-color: #3b3b3b;
}
[data-skin="dark"] .anor_fn_follow .plus:before,
[data-skin="dark"] .anor_fn_follow .plus:after{
	background-color: #777;
}
[data-skin="dark"] .anor_fn_follow:after{
	border-color: #3b3b3b;
}
[data-skin="dark"] .anor_fn_footer .footer_bottom,
[data-skin="dark"] .anor_fn_footer .footer_top{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_footer .footer_bottom{
	border-top: 1px solid #2b2c31;
}
[data-skin="dark"] .anor_fn_footer .link_list a,
[data-skin="dark"] .anor_fn_footer .fb_left a,
[data-skin="dark"] .anor_fn_footer .fb_left p{
	color: #888;
}
[data-skin="dark"] .anor_fn_header .sub-menu{
	background-color: #0e0f13;
	border-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_header .sub-menu a{
	color: #888;
}
[data-skin="dark"] .anor_fn_megamenu{
	background-color: #0e0f13;
	border-top-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_megamenu a{
	color: #888;
}
[data-skin="dark"] .anor_fn_mobile_menu .mobile_menu_inner,
[data-skin="dark"] .anor_fn_mobile_menu .dropdown{
	background-color: #0e0f13;
}
[data-skin="dark"] .vert_menu a{
	color: #888;
}
[data-skin="dark"] .anor_fn_mobile_menu .hamburger-inner,
[data-skin="dark"] .anor_fn_mobile_menu .hamburger-inner:after,
[data-skin="dark"] .anor_fn_mobile_menu .hamburger-inner:before,
[data-skin="dark"] .hamburger.is-active .hamburger-inner,
[data-skin="dark"] .hamburger.is-active .hamburger-inner:after,
[data-skin="dark"] .hamburger.is-active .hamburger-inner:before{
	background-color: #888;
}
[data-skin="dark"] .fn__activity_table .at_header{
	background-color: #0e0f13;
}
[data-skin="dark"] .fn__activity_table .at_item:after{
	background-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_filters .filter_header{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_tabs .tab_content{
	border-top-color: #2b2c31;
	border-left-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_filters .ic_in{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_filters .filter_item__header{
	background-color: #191b21;
}
[data-skin="dark"] .anor_fn_tabs .anor_fn_filters{
	background-color: #191b21;
}
[data-skin="dark"] .anor_fn_filters .filter_item{
	border-bottom-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_upload_media label{
	background-color: #0e0f13;
	border-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_add_item textarea,
[data-skin="dark"] .anor_fn_add_item input[type="text"]{
	border-color: #2b2c31;
	color: #eee;
}
[data-skin="dark"] .anor_fn_add_btn{
	border-color: #2b2c31;
}
[data-skin="dark"] .input_dd_list{
	background-color: #0e0f13;
	border-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_add_btn .icon{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_add_btn .icon:after,
[data-skin="dark"] .anor_fn_add_btn .icon:before{
	background-color: #777;
}
[data-skin="dark"] .anor_fn_pagination span,
[data-skin="dark"] .anor_fn_pagination a{
	border-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_pagination .current{
	background-color: #0e0f13;
	color: var(--heading-color);
}
[data-skin="dark"] .input_wrapper input{
	border-color: #2b2c31;
	color: #ccc;
}
[data-skin="dark"] .input_wrapper input:focus{
	background-color: transparent;
	border-color: #555;
}
[data-skin="dark"] .input_wrapper .fn__svg{
	color: #777;
}
[data-skin="dark"] .author_info_box .info_box{
	background-color: #0e0f13;
}
[data-skin="dark"] .author_info_box .info{
	background-color: #191b21;
}
[data-skin="dark"] .author_info_box .author_action .action_btn{
	background-color: #191b21;
}
[data-skin="dark"] .author_info_box .author_action .action_popup{
	background-color: #191b21;
	border-color: #191b21;
}
[data-skin="dark"] .anor_fn_modal .anor_fn_follow:after,
[data-skin="dark"] .author_info_box .anor_fn_follow:after{
	border-color: #3b3b3b;
}
[data-skin="dark"] .anor_fn_modal .modal_in{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_modal .modal_title:after{
	background-color: #2b2c31;
}
[data-skin="dark"] .mini_item:hover{
	background-color: #191b21;
}
[data-skin="dark"] .anor_fn_modal.follower_box .list::-webkit-scrollbar-thumb{
	background-color: #333;
	border-color: #333;
}
[data-skin="dark"] .anor_fn_tabs .tab_header{
	border-bottom-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_tabs .tab_header .links a{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_filters .items input[type="number"]{
	background-color: transparent;
	border-color: #3b3b3b;
}
[data-skin="dark"] .anor_fn_modal .modal_closer:hover{
	color: #777;
}
[data-skin="dark"] .author_info_box .info span:first-child:after{
	background-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_author_info{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_prevnext > *{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_prevnext > *:hover{
	background-color: #050505;
}
[data-skin="dark"] .anor_fn_collection_header{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_boxed_counter .item{
	border-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_activity_graph .top_item p{
	background-color: #0e0f13;
}
[data-skin="dark"] .action_collection .action_btn,
[data-skin="dark"] .anor_fn_collection_header .anor_fn_follow:after,
[data-skin="dark"] .anor_fn_like_full{
	border-color: #2b2c31;
}
[data-skin="dark"] .action_collection .action_popup{
	background-color: #0e0f13;
	border-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_contact .input_list textarea,
[data-skin="dark"] .anor_fn_contact .input_list input{
	background-color: #0e0f13;
	border-color: #2b2c31;
	color: #ccc;
}
[data-skin="dark"] .anor_fn_product_info .price_box{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_product_info .price_top:after{
	background-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_product_info .price_bottom{
	border-top-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_accordion{
	border-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_product_offers .offer_header{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_product_offers .offer_item{
	border-bottom-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_product_activity .filters{
	border-top-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_product_activity .pa_header{
	background-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_product_activity .pa_item{
	border-bottom-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_product_activity .filters .filter_opener,
[data-skin="dark"] .anor_fn_product_activity .filters .selected_filter a{
	background-color: #0e0f13;
	color: #888;
}
[data-skin="dark"] .anor_fn_product_activity .filters .selected_filter a:after{
	background-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_product_activity .filters .filter_list{
	background-color: #0e0f13;
	border-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_product_activity .filters .filter_list a{
	color: #ccc;
}
[data-skin="dark"] .anor_fn_product_info .product_img:after{
	border-color: #3b3b3b;
}
[data-skin="dark"] .product_action .action_popup{
	background-color: #0e0f13;
	border-color: #0e0f13;
}
[data-skin="dark"] .anor_fn_sortable_rankings table tbody tr,
[data-skin="dark"] .anor_fn_sortable_rankings thead{
	border-bottom-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_icon_list .item{
	background-color: #0e0f13;
	border-color: #3b3b3b;
}
[data-skin="dark"] .anor_fn_sign_up input[type="email"],
[data-skin="dark"] .anor_fn_sign_up input[type="text"],
[data-skin="dark"] .anor_fn_sign_up input[type="password"],
[data-skin="dark"] .anor_fn_sign_in input[type="email"],
[data-skin="dark"] .anor_fn_sign_in input[type="text"],
[data-skin="dark"] .anor_fn_sign_in input[type="password"]{
	border-color: #2b2c31;
	color: #eee;
}
[data-skin="dark"] .fn__trader_item{
	border-color: #2b2c31;
}
[data-skin="dark"] .fn__trader_item .bottom_right{
	border-left-color: #2b2c31;
}
[data-skin="dark"] .fn__trader_item .bottom_left{
	border-right-color: #2b2c31;
}
[data-skin="dark"] .fn__trader_item .trader_bottom{
	border-top-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_follow.followed{
	background-color: #24262b;
	color: #888;
}
[data-skin="dark"] .anor_fn_modal .share_list a{
	border-color: #2b2c31;
}
[data-skin="dark"] .anor_fn_features .item{
	border-color: #3b3b3b;
}
[data-skin="dark"] .anor_fn_features .icon{
	background-color: #2b2c31
}
[data-skin="dark"] #intro_features{
	border-bottom-color: #2b2c31;
}
[data-skin="dark"] #intro_footer{
	background-color: #0e0f13;
}
[data-skin="dark"] #intro_features .light{display: none;}
[data-skin="light"] #intro_features .dark{display: none;}
[data-skin="dark"] .anor_fn_introlist .item{
	border-color: #3b3b3b;
}
[data-skin="dark"] .anor_fn_intro_tab .tab_switcher li{
	background-color: #0a0b0e;
}
[data-skin="dark"] .anor_fn_introlist img{
	border-bottom-color: #3b3b3b;
}
	